{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="personal-info">
        <h1>Personal Information</h1>
        <form action="{% url 'college:allCourDep' %}" method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>



            <label for="first" >Department:</label>
            <select name="" id="first">
            <option value=""> department </option>
        </select>

            <label for="second">Course:</label>
          <select name="" id="second">
            <option value=""> Select Option </option>
        </select>


            <label for="purpose">Purpose:</label>
            <select id="purpose" name="purpose" required>
                <option value="">Select Purpose</option>
                <option value="Admission">Admission</option>
                <option value="Enrollment">Enrollment</option>
                <option value="Other">Other</option>
            </select>

            <label for="materials 1">Materials Provided:</label>
            <input type="checkbox" id="materials 1" name="materials" value="Books"> Books
            <input type="checkbox" id="materials 2" name="materials" value="Laptop"> Laptop
            <input type="checkbox" id="materials 3" name="materials" value="ID Card"> ID Card


             <div class="button">
                <button type="submit" onclick="validateForm()">Submit</button>
                         <button type="submit">Logout</button>
                 {% if user.is_authenticated %}
    <a href="logout">Logout</a>
    {% endif %}


            </div>







    <script src="{% static 'js/app.js' %}"></script>



</form>
    </div>
</body>
 <script>
        function validateForm() {

            alert("Successfully registered!");
            window.location.href = "{% url 'college:allCourDep' %}";
            return false;
        }
    </script>

</html>
